.mj-footer{
  background-color: #474646;
  color: white;
}

.mj-flare{
  background-color: #0F5A84 !important;
  border-radius: 10px 0px !important;
  border-color: #0F5A84 !important;
}

li{
  list-style-type: square !important;
  list-style-position: inside !important;
  font-family: 'Libre Franklin', sans-serif !important;
}

p{
  font-family: 'Libre Franklin', sans-serif !important;
}

span{
  font-family: 'Libre Franklin', sans-serif !important;
}

a{
  font-family: 'Libre Franklin', sans-serif !important;
}